a#btn_cocacola {
    display: inline-block;
    height: 115px;
    box-sizing: border-box;  
    margin: auto;
    margin-top: 50px;
    text-decoration: none;
}

img#cocacolacap {
    width: 60%;
}

a#btn_cocacola:hover img#cocacolacap{
    animation-duration: 1.5s;
    animation-name: spins;
}

@keyframes spins {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*-----------------------------Harley Davidson Button--------------------------------*/


a#btn_harley {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
    margin-top: 60px;
    padding: 10px 40px 0 40px;
    text-decoration: none;
}

img#harleylogo {
    width: 80%;
}

a#btn_harley:hover img#harleylogo{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-0.5deg); }
    20% { transform: translate(-3px, 0px) rotate(0.5deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(0.5deg); }
    50% { transform: translate(-1px, 2px) rotate(-0.5deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-0.5deg); }
    80% { transform: translate(-1px, -1px) rotate(0.5deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-0.5deg); }
  }

/*-----------------------------Michael Kors Button--------------------------------*/

a#btn_mk {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
    margin-top: 65px;
    padding: 10px 40px 0 40px;
    text-decoration: none;
}

img#mklogo {
    width: 60%;
}

a#btn_mk:hover img#mklogo{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
     }
}

/*-----------------------------Ideo Button--------------------------------*/

a#btn_ideo{
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    margin-top: 100px;
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: rgb(232, 0, 0);
    font-size: 40px;
    font-family: "scandia-line-web", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    transition: background-color 0.5s;
    place-content: center;
}

a#btn_ideo:hover, a#btn_ideo:focus{
    animation: skew-x-shakeng 1.5s;
    background-color: white;
    color: rgb(232, 0, 0);
}

@keyframes skew-x-shakeng{
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
   }

/*-----------------------------Cartoon Network Button--------------------------------*/

a#btn_cn {
    display: inline-block;
    height: 115px;
    box-sizing: border-box;  
    margin: auto;
    margin-top: 100px;
    transition: background-color 0.5s;
}

img#cnlogo {
    width: 60%;
}

a#btn_cn:hover img#cnlogo{
    -webkit-box-shadow:0px 0px 70px 10px rgba(38,255,190,0.91);
    -moz-box-shadow: 0px 0px 70px 10px rgba(38,255,190,0.91);
    box-shadow: 0px 0px 70px 10px rgba(38,255,190,0.91);
}

/*-----------------------------Samsung Button--------------------------------*/

a#btn_samsung {
    display: inline-block;
    height: 115px;
    box-sizing: border-box;  
    margin: auto;
    margin-top: 85px;
    text-decoration: none;
}

img#samsunglogo {
    width: 55%;
}

a#btn_samsung:hover img#samsunglogo {
    transform: scale(1.12);
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}
/*-----------------------------Tesla Button--------------------------------*/

a#btn_tesla {
    display: inline-block;
    height: 115px;
    box-sizing: border-box;  
    margin: auto;
    margin-top: 70px;
    text-decoration: none;
}

img#teslalogo {
    width: 80%;
}

a#btn_tesla:hover img#teslalogo{
    animation-duration: 2s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    
}

@keyframes bounce {
    from {
        transform: translate(0%, -15%);
    }
    to {
        transform: translate(0%, 15%);
    }
}

/*-----------------------------Nike Button--------------------------------*/

a#btn_nike {
    text-decoration: none;
}

img#nikelogo {
    width: 60%;
    margin-top: 80px;
}

a#btn_nike span {
    margin-top: -70px;
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-style: italic;
    font-size: 25pt;
    font-weight: 1000;
    letter-spacing: -3px;
    text-decoration: none;
    display: none;
}

a#btn_nike:hover img {
    opacity: 0;
    animation: 1.5s;
    background-color: white;
}

a#btn_nike:hover span {
    display: block;
}

/*-----------------------------Foreflight Button--------------------------------*/

a#btn_frf {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
    margin-top: 95px;
    padding: 10px 40px 0 40px;
    text-decoration: none;
    color: navy;
    font-size: 27px;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    font-style: italic;
}

img#frflogo {
    width: 20%;
}


a#btn_frf:hover img{
    animation: fly 0.6s ease forwards;
  }
  @keyframes fly {
    16.6% { transform: translate(50px, -60px) rotate(-60deg); }
    33.33% { transform: translate(50px, -100px) rotate(-120deg); }
    49.8% { transform: translate(0, -120px) rotate(-180deg); }
    66.4% { transform: translate(-50px, -100px) rotate(-240deg); }
    83% { transform: translate(-50px, -50px) rotate(-300deg); }
    100% { transform: translate(0, 0) rotate(-360deg); }
  }
/*-----------------------------Exploding Kittens Button--------------------------------*/

a#btn_expkit {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
    padding: 10px 40px 0 40px;
    text-decoration: none;
}

img#expkitlogo {
    width: 70%;

}

a#btn_expkit:hover img{
    animation-duration: 0.75s;
    animation-name: slidein;
   
}

@keyframes slidein {
    from {
        transform: translate(0%, 0%) scale(1.5);
    }
    to {
        transform: translate(0%, -500%) scale(1.5);
    }
}